/* coloring */
html {
    --page-bg           : #ffffff;
    --text-color        : black;
    --code-color        : #7a017a;
    --code-bg           : #f6f6f6;
    --h1-border-color   : #dcdcdc;
    --h1-bg             : lightgray;
    --scrollbar-color   : #888;
    --track-color       : #f1f1f1;
    --link-color        : #0056b7;
    --link-hover-color  : #3c73fd;
}
html.dark {
    --page-bg           : #111;
    --text-color        : white;
    --code-color        : orange;
    --code-bg           : #242424;
    --h1-border-color   : #464646;
    --h1-bg             : #363636;
    --scrollbar-color   : #555;
    --track-color       : #141414;
    --link-color        : #68d;
    --link-hover-color  : #8af;
}

/* misc */
body {
    color: var(--text-color);
    background: var(--page-bg);
}
video {
    width: 100%;
}
a {
    color: var(--link-color);
}
    a:hover {
        color: var(--link-hover-color);
    }
.highlight {
    background: none;
}
.container-lg ul, 
.container-lg ol {
    padding-left: 1.25rem;
}
.markdown-body h1 {
    border: none;
    border-bottom: 1px solid var(--h1-border-color);
}
    #main h1:not(:first-child) {
        background: var(--h1-bg);
        padding: 0.25rem 0.75rem
    }

/* remove useless header */
.container-lg > h1:first-child {
    display: none;
}
.markdown-body::before {
    content: none;
}

/* code */
#main :not(pre) > code,
#main pre {
    background: var(--code-bg);
}
    /* keywords */
    :not(pre) > code {
        color: var(--code-color);
    }
    /* code blocks */
    #main .highlighter-rouge .o, 
    #main .highlighter-rouge .k,
    #main .highlighter-rouge .kd,
    #main .highlighter-rouge .sr,
    #main .highlighter-rouge .err {
        color: var(--text-color);
        background: none;
        font-weight: initial;
    }
    #main .highligher-rouge .kd {
        font-weight: initial;
    }
    #main .highlighter-rouge .kc {
        color: #42c642;
    }

/* scrollbar mess */
/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--track-color);
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: var(--track-color);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 2px solid var(--track-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color);
}

/* content shaping */
.container-lg {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto !important;
    gap: 1rem;
}
    #toc-wrapper {
        position: sticky;
        width: fit-content;
        height: calc(100vh - 1rem); /* buffer to prevent highlight text from hiding toc content */
        padding-right: 2rem;
        flex-shrink: 0;
        top: 0; /* needed to specify sticky */
        overflow-y: auto;
    }
    #main {
        flex: 1;
        min-width: 0;
        padding-left: 20px;
    }
        #intro {
            margin-top: 0;
            padding-top: 24px;
        }
        /* add a little spacing to h3 elements */
        #main h2 + h3 {
            margin-top: initial;
        }
        #main h3 {
            margin-top: 3rem;
        }

/* mobile mode */
@media (max-width: 1020px) {
    /* switch to column */
    .container-lg {
        flex-direction: column;
    }
        /* remove sticky, make full width */
        #toc-wrapper {
            position: relative;
            width: 100%;
            height: auto;
            padding-right: 0;
            padding-bottom: 1rem;
            border-bottom: 1px solid gainsboro;
        }
        /* remove padding */
        #main {
            padding-left: 0;
            width: 100%;
        }
            /* make it a little easier to read on mobile */
            :not(pre) > code {
                font-weight: bold;
            }
}

/* dark mode button */
#dark-toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
    opacity: 0.4;
    border: 1px solid currentColor;
}
    #dark-toggle:hover {
        opacity: 1;
    }