.macro-areamap-rose {
    display: inline-grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 5rem);
    position: relative;
}
    .macro-areamap-rosebg,
    .macro-areamap-mapviewbg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
        .macro-areamap-rosebg > *,
        .macro-areamap-mapviewbg > * {
            height: 100%;
            width: 100%;
        }
    .macro-areamap-dir {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 3em;
    }
        .macro-areamap-dir[data-dir='C'] {
            font-weight: bold;
            grid-column: 2;
            grid-row: 2;
        }
.macro-areamap-mapview {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: 4rem;
    position: relative;
}
    .macro-areamap-tile {
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
    }
    .macro-areamap-position {
        font-weight: bold;
        backdrop-filter: brightness(1.25);
    }
    .macro-areamap-tile:not(.macro-areamap-position):not(.macro-areamap-link) {
        color: rgba(177, 177, 177, .6);
    }