html {
    --border-color: rgb(172, 172, 172);
}
:not(pre) code {
    color: orange
}
#story {
    margin-top: 0 !important;
}
#grid h3 {
    margin: 0;
}
#passages ul {
    margin: 0;
}
#grid {
    display: grid;
    grid-template-columns: 1fr minmax(0, 60%);
    row-gap: 1rem;
    column-gap: 1rem;
    margin-top: 0.75rem;
}
    #rose {
        max-width: 30rem;
    }
        .macro-Sleepymap-rose [data-dir='NE'] {
            padding: 1rem 1rem 0 0;
        }
        .macro-Sleepymap-rose [data-dir='SE'] {
            padding: 0 1rem 1rem 0;
        }
        .macro-Sleepymap-rose [data-dir='SW'] {
            padding: 0 0 1rem 1rem;
        }
        .macro-Sleepymap-rose [data-dir='NW'] {
            padding: 1rem 0 0 1rem;
        }
        #headers {
            display: flex;
            flex-wrap: wrap;
        }
            .header {
                border: 1px solid var(--border-color);
                border-bottom: none;
                border-radius: 1rem 1rem 0 0;
                padding: 0.5rem;
                flex-grow: 1;
                color: #68d;
                cursor: pointer;
            }
                .header:hover {
                    color: #8af;
                    text-decoration: underline;
                }
            #headers[data-selected='demo'] [data-control='demo'],
            #headers[data-selected='map'] [data-control='map'],
            #headers[data-selected='mapmove'] [data-control='mapmove'],
            #headers[data-selected='interface'] [data-control='interface'] {
                order: 1;
                flex-basis: 100%;
                color: white;
                cursor: initial;
                text-decoration: none;
            }
        #control-content {
            padding: 0 0.5rem 1rem 0.5rem;
            border: 1px solid var(--border-color);
            border-top: none;
            min-height: 15rem;
        }
    #kitty {
        font-size: 1rem;
    }
@media (max-width: 1000px) {
    #grid {
        grid-template-columns: 1fr;
    }
        #controls {
            grid-row: 2;
        }
        #kitty {
            font-size: 0.7rem;
        }
        .macro-Sleepymap-tile { 
            --border-width: 0.1rem;
        }
}