.macro-Sleepymap-rose {
    width: 100%;
    aspect-ratio: 3 / 2;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
}
    .macro-Sleepymap-rosebg,
    .macro-Sleepymap-mapviewbg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
        .macro-Sleepymap-rosebg > *,
        .macro-Sleepymap-mapviewbg > * {
            height: 100%;
            width: 100%;
        }
    .macro-Sleepymap-dir {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 3rem;
        padding: 1rem;
        text-align: center;
    }
        .macro-Sleepymap-dir[data-dir='C'] {
            font-weight: bold;
            grid-column: 2;
            grid-row: 2;
        }
.macro-Sleepymap-mapview {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: inline-grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    position: relative;
}
    .macro-Sleepymap-tile {
        --border-width: 0.17rem;
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
        place-items: center;
        position: relative;
        text-align: center;
    }
        .macro-Sleepymap-tile .macro-Sleepymap-label,
        .macro-Sleepymap-entity {
            position: absolute;
        }
            .macro-Sleepymap-tile[disabled] {
                cursor: not-allowed;
            }
        .macro-Sleepymap-path {
            background: rgba(82, 209, 255, 0.3);
        }
    .macro-Sleepymap-tile[data-current-position='true'] {
        font-weight: bold;
        backdrop-filter: contrast(1.4) brightness(1.4);
    }
    .macro-Sleepymap-mapview[data-maptype='grid'] .macro-Sleepymap-tile[data-current-position='true'] {
        outline: var(--border-width) dashed black;
        outline-offset: calc(-1 * var(--border-width));
    }
    .macro-Sleepymap-tile[data-traversable='true'] {
        backdrop-filter: brightness(1.23);
    }
.macro-Sleepymap-hoverlink {
    cursor: pointer;
}